.catalog-card__title {
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 1);
}

.catalog-card__list {
  font-size: 12px;
  line-height: 16px;
}
