.slider {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: relative;
    height: 462px;
    padding-top: 250px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.slider__background {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 462px;
    background-color: rgba(234, 234, 234, 1);
  }
}

.slider__slide {
  z-index: 1;

  &--after {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 101px;
    left: 104px;
  }

  @media (min-width: $desktop-width) {
    inset: -135px 110px auto auto;
  }
}
