.slider {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 462px;
    padding-top: 250px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.slider__background {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 462px;
    background-color: rgba(234, 234, 234, 1);
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(242, 242, 242, 1);
  }
}

.slider__slide {
  position: absolute;
  top: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: 101px;
    left: 104px;
  }

  @media (min-width: $desktop-width) {
    inset: -135px 110px auto auto;
  }
}
