.footer {
  &--second-color {
    background-color: rgba(242, 242, 242, 1);
  }
}

.footer__contacts-description {
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.footer__contacts-address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.footer__socials {
  background-color: rgba(242, 242, 242, 1);
}

.footer__socials-link {
  display: block;
  width: 28px;
  height: 22px;
  background-color: rgba(102, 102, 102, 1);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  &--vkontakte {
    mask-image: url("../../icons/stack.svg#icon-vkontakte");
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#icon-ytube");
  }

  &--telegram {
    mask-image: url("../../icons/stack.svg#icon-telegram");
  }
}

.footer__socials-htmlacademy-link-text {
  font-family: $text-font;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 1);
}
