.promo-section {
  width: 100%;
}

.promo-section__container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 27px 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 29px 0 30px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-height: 552px;
    max-width: 1440px;
    padding: 0 110px 52px;
    justify-content: flex-start;
  }
}

.promo-section__head-title {
  margin: 0 0 25px;
  text-align: center;
  font-family: $title-font;
  font-size: 36px;
  line-height: 36px;
  color: $white;

  @media (min-width: $tablet-width) {
    margin: 0 auto 40px 90px;
    max-width: 416px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin-top: 81px;
    margin-left: 81px;
  }
}

.promo-section__picture {
  margin: 0 20px 3px;

  @media (min-width: $tablet-width) {
    margin: 0 29px 0 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 331px;
    margin: 0;
  }
}

.promo-section__text {
  margin: 0 0 29px;
  font-family: $title-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $tablet-width) {
    margin: 0 auto 21px 90px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
    margin-bottom: 51px;
  }
}

.promo-section__link {
  display: block;
  width: 280px;
  padding: 10px 0;
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  color: $white;
  background-color: $green;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 1;
    top: 229px;
    left: 120px;
    width: 242px;
    padding: 14px 0;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin: 0 auto 0 81px;
    padding: 14px 0;
  }

  &:hover {
    background-color: rgba(94, 170, 47, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(94, 170, 47, 1);
  }
}

.promo-section__box {
  position: absolute;
  width: 100%;
  height: 302px;
  z-index: -1;
  top: 0;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85)),
    url("../../images/index/index-background-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    top: -143px;
    right: 0;
    width: 720px;
    height: 694px;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85)),
      url("../../images/index/index-background-desktop@2x.png");
    background-size: cover;
  }
}
