.add-product__title {
  font-family: $title-font;
  font-size: 16px;
  line-height: 16px;
  color: rgba(34, 34, 34, 1);
}

.add-product__list-term,
.add-product__list-data {
  font-size: 14px;
  line-height: 14px;
}
