.additional-section__title {
  font-family: $title-font;
  font-size: 24px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.additional-section__promo {
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85)),
    url("../../images/catalog/catalog-background-image@2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.additional-section__promo-icon {
  display: block;
  width: 80px;
  height: 82.6px;
  background-image: url("../../icons/stack.svg#icon-gift");
}

.additional-section__promo-text {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}
